/*********************Header*********************/

.header_Left_Menu_Button, .header_Right_Login_Button, .header_Right_Search_Button{ display: none; }

.header_Logo, .footer_Logo{
	display: block;
	float: left;
	width:159px;
	background: url("../img/Portfolio_Ver1/20190415040055_a1c2.jpg") center center no-repeat;
}

.header_Logo{height: 128px;}

.header_Input_Container{
	display: block;
	position: absolute;
	float: right;
	margin-top: 40px;
	right: 30%;
    bottom: 41px;
    width: 430px;
    height: 46px;
    border: 2px solid #882175;
}

.header_Input_Container input{
	outline: 0;
	display: inline-block;
	width: 100%;
	height: 46px;
	padding: 0;
	border: 0;
	font-size: 14px;
	vertical-align: top;
	padding: 8px 42px 8px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.header_SearchButton{
	position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

.search_Icon{
	width: 20px;
    height: 17px;
    margin: 15px 15px;
    background: url(./../img/Portfolio_Ver1/str_ico01_bs.png) -103px -4px no-repeat;
}

.header_Right_Menu_Container{
	float: right;
	display: block;
	margin-top: 50px;
}

.header_Right_Menu_Container div{float: left;}

.header_Right_Menu_Container div::after,
.footer_Menu_Container span::after{
    content: '';
    margin: 4px 12px 0px 12px;
    width: 1px;
}

.header_Right_Menu_Container div::after{
	display: block;
	float: right;
	height: 13px;
	background-color: #666;
}

.header_Right_Menu_Container div:last-child::after{margin: 0;width: 0;}

.header_Right_Menu_Container div a{
	font-family: '나눔고딕', Arial, sans-serif;
	display: inline-block;
	font-size: 0.813em;
	letter-spacing: -0.05em;
	color: #666;
}

.header_Right_Menu_Container div a:hover{color: #898989;}

.category_Bar{
	display: inline-block;
	width: 100%;
	height: auto;
	float: left;
	padding: 0 32px;
	border-top: 1px solid #c1bebe;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.category_Button{
	float: left;
	width: 185px;
	height: 50px;
	border-left: 1px solid #c1bebe;
	border-right: 1px solid #c1bebe;
	border-bottom: 1px solid #c1bebe;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	color: #333;
	cursor: pointer;
}

.category_Button span, .category_Button div{
	display: inline-block;
	float: left;
}

.category_Button span{
	margin-top: 15px;
	font-weight: bold;
}

.category_Button_Icon{
	width: 22px;
	margin: 16px 12px 16px 16px;
}

.category_Button_Sprite{
	width: 20px;
	height: 2px;
	margin: 2px 0;
	background-color: #882175;
}

.category_Menu_Container{
	display: none;
	position: absolute;
	top: 179px;
	left: 32px;
	width: 185px;
	height: auto;
	color: #555;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	padding-bottom: 83px;
	z-index: 9;
	background-color: #fff;
}

.category_Menu_Container .main_Category_Depth1{
	width: 100%;
	height: auto;
}

.category_Menu_Container .main_Category_Depth1 .Depth1_Context{
	display: inline-block;
	width: 100%;
	height: 46px;
	line-height: 44px;
	color: #555;
	font-size: 16px;
	font-weight: 700;
	padding-left: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.category_Menu_Container .main_Category_Depth1 .Depth1_Context:hover{
	background-color: #882175;
	color: #fff !important;
}

.main_Category_Depth2{
	display: none;
    position: absolute;
    top: 0;
    left: 184px;
    z-index: 21;
    width: 686px;
    height: 452px;
    border: 1px solid #333;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.18);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.18);
}

.main_Category_Depth2_List_Container{
	width: 50%;
    height: 100%;
    padding-top: 21px;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.main_Category_Depth2_RelBanner{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	border-left: 1px solid #333;
	padding: 12px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.RelBanner{
	padding: 12px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.category_Depth2_Title_Wrap{
	margin: 0 0 34px 30px;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.category_Depth2_Title{
	margin-right: 10px;
	font-weight: 700;
	font-size: 24px;
	color: #333;
}

.category_Depth2_Title_Button{
	display: inline-block;
	position: relative;
	height: 20px;
	margin-top: -4px;
	padding: 0 19px 0 8px;
	border: 1px solid #dbdbdb;
	font-size: 11px;
	line-height: 20px;
	color: #aaa;
	text-decoration: none;
	vertical-align: middle;
}

.category_Depth2_Title_Button:after{
	content: '';
	position: absolute;
	top: 6px;
	right: 9px;
	width: 3px;
	height: 6px;
	background: url(./../img/Portfolio_Ver1/str_ico01.png) no-repeat -161px -9px;
}

.category_Depth2_List{
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.category_Depth2_List .category_Depth2_Context{
	position: relative;
	width: 50%;
	padding-left: 10px;
	color: #666;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	border-right: 1px solid #ebebeb;
}

.category_Depth2_List .category_Depth2_Context .category_Depth3_Title{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 35px;
	padding-left: 20px;
	border: 1px solid transparent;
	font-size: 12px;
	line-height: 35px;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.category_Depth2_List .category_Depth2_Context .category_Depth3_Title:hover{
	color: #882175;
	font-weight: 800;
	border: 1px solid #000;
}

.category_Depth3_List{
	display: none;
	position: absolute;
	width: 101%;
    height: auto;
	top: 0;
	left: 99.5%;
	border: 1px solid #333;
	background-color: #fff;
    padding: 0;
    z-index: 10;
}

.category_Depth3_List li a{
	color: #666;
    display: block;
    width: 100%;
    height: 33px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.category_Depth3_List li a:hover{
	background-color: #882175;
	color: #fff;
}

.category_Bar_Right_Container{ float: right; }

.category_Bar_RightButton{
	display: inline-block;
	float: left;
	height: 100%;
	text-align: center;
	padding: 0 25px;
	line-height: 49px;
	letter-spacing: 0;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #333;
}

.category_Bar_RightButton:nth-of-type(1){ display: none; }

/*********************Header*********************/

/*********************Slide*********************/

#wrapper{
	display: block;
    width: 100%;
    height: 451px;
    position: relative;
    float: left;
    color: #fff;
}

#slider-wrap{
    width: 100%;
    height: 100%;
    position:relative;
    overflow:hidden;
}

#slider-wrap ul#slider{
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

#slider-wrap ul#slider li{
    float:left;
    position:relative;
    width:20%;
    height:100%;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	text-align: center;
	cursor: pointer;
}

#slider-wrap ul#slider li:nth-of-type(1){ background-color: #fadff2; }
#slider-wrap ul#slider li:nth-of-type(2){ background-color: #f8f8f8; }
#slider-wrap ul#slider li:nth-of-type(3){ background-color: #f8e9e4; }
#slider-wrap ul#slider li:nth-of-type(4){ background-color: #e1ffff; }
#slider-wrap ul#slider li:nth-of-type(5){ background-color: #cdbfb2; }

.slider_Image{
	display: inline-block;
	width: 932px;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.slider_Image img{
	display: inline-block;
	width: 100%;
	height: auto;
}


/*btns*/
.btns{
    position:absolute;
    width:50px;
    height:60px;
    margin-top:-25px;
    line-height:57px;
    text-align:center;
    cursor:pointer;
    background:rgba(0,0,0,0.1);
    z-index:100;


    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btns:hover{
    background:rgba(0,0,0,0.3);
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{ display: none; }
#txt_total{ opacity: 0.5; }

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}

/*bar*/
#pagination-wrap{
    position: absolute;
    display: block;
   	bottom: 0;
    width: auto;
    height: auto;
    padding-left: 217px;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

#specific_Pagination_Wrap{
	float: left;
	width: auto;
	height: 100%;
	margin-right:35px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

#pagination-wrap ul li{
	display: inline-block;
	float: left;
	width: 200px;
	padding: 15px 5px;
	margin-top: 10px;
	border-top: 1px solid #c5c6c7;
	border-bottom: 1px solid #c5c6c7;
	border-left: 1px solid #c5c6c7;
	border-right: 0;
	border-right: 0;
	color: #666;
	text-align: center;
	letter-spacing: 0;
	background-color: #fff;
	font-size: 13px;
	cursor: pointer;
}

#pagination-wrap ul li:nth-last-of-type(1){ border-right: 1px solid #c5c6c7; }

#pagination-wrap ul li:nth-last-of-type(1).active{ border-right: 2px solid #c5c6c7; }

#pagination-wrap ul li.active{
	margin-top: 0;
	padding: 20px 5px;
	font-weight: 800;
	border-right: 1px solid #c5c6c7;
}

#slide_Button{
	display: block;
	position: absolute;
	width: 35px;
	height: 52px;
	right: 0;
	margin-top: 10px;
	border: 1px solid #c5c6c7;
	border-left: 0;
	text-indent: -9999em;
	background-color: #fff;
	z-index: 999;
	cursor: pointer;
}

.slide_Button_Deactived::after{
	content: '';
	position: absolute;
	top: 13px;
	left: 6px;
	width: 25px;
	height: 25px;
	background: url(./../img/Portfolio_Ver1/str_ico01.png) no-repeat 0 -50px;
}

.slide_Button_Actived::after{
	content: '';
	position: absolute;
	top: 13px;
	left: 6px;
	width: 25px;
	height: 25px;
	background: url(./../img/Portfolio_Ver1/str_ico01.png) no-repeat 0 -75px;
}


/*슬라이드 및 슬라이드 버튼 에니메이션*/
#slider-wrap ul, #pagination-wrap ul li{
    -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    transition: all 0.3s cubic-bezier(1,.01,.32,1);
}

.wrapper_Scale{ display: none; }

/*********************Slide*********************/

/*********************Main Page*********************/

#lg_Best_Products{
	background-color: #f3eeee;
	padding: 80px 0;
	margin-top: 80px;
}

#lg_Best_Products section{ background-color: #fff; }

.Product_Thumbnail_Container{
	display: block;
	position: relative;
	float: left;
	width:33.33333333333333%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	border-top: 1px solid #e7e8ea;
	padding: 30px 60px;
	text-align: center;
	cursor: pointer;
}

.Product_Thumbnail_Container:nth-last-of-type(3){ border-bottom: 1px solid #e7e8ea; }
/*
.Product_Thumbnail_Container:nth-of-type(2), .Product_Thumbnail_Container:nth-of-type(3n+2){width:33.33333333333333%;}
*/


.img_Badge_Container{
	position: absolute;
	top: 73px;
	left: 10px;
	z-index: 1;
}

.img_Badge_Container span{
	display: inline-block;
	position: relative;
	width: 48px;
	height: 55px;
	padding-top: 15px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background: url(./../img/Portfolio_Ver1/img_imgBadge_hexa_red.png) 50% 31% no-repeat;
}

.img_Badge_Container span:after{
	content: '';
	position: absolute;
	bottom: 25px;
	left: 16px;
	width: 16px;
	height: 1px;
	background-color: #fff;
}

.Product_Thumbnail_Container img{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.product_Thumbnail_Context_Container{
	display: inline-block;
	position:relative;
	width: 100%;
	height: auto;
}

.best_Item_Label{ display: none; }

.product_Title, .product_ModelNo, .product_price1, .product_price2{
	display:inline-block;
	width: 100%;
	height: auto;
}

.product_ModelNo, .product_price1, .product_price2{ word-break: keep-all; white-space: nowrap; }

.product_Title{
	position: absolute;
	overflow: hidden;
	font-size: 22px;
	line-height: 26px;
	color: #363636;
}

.product_Title, .product_price1{ color: #363636; }

.product_Title_Words{white-space: nowrap;}

.product_ModelNo{
	color: #666;
	margin-top: 60px;
	font-size: 14px;
	margin-bottom: 6px;
}

.product_price1{
	font-size: 12px;
	margin-bottom: 20px;
	font-weight: 500;
}

.product_price2{
	font-size: 22px;
	color: #e7058d;
	font-weight: 600;
}

.lg_Best_Title{
	display:block;
	width: 100%;
	height: 74px;
	background: url("../img/Portfolio_Ver1/img_title_best_dayBest.jpg") center center no-repeat;
	margin-bottom: 30px;
}

/*********************Main Page*********************/

/*********************Footer*********************/

.main_Board_Bar{
	display: block;
	float: left;
	width: 100%;
	height: auto;
	color: #666;
	padding: 26px 32px;
	background-color: #f5f5f5;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	/*overflow: hidden; */
	/*white-space: nowrap*/
	/*text-overflow: ellipsis;*/
}

.notice_Thumbnail_Container, .qna_Thumbnail_Container, .serviceCenter_Thumbnail_Container{
	display: inline-block;
	float: left;
	width:33.33333333333333%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.notice_Thumbnail_Container{}

.qna_Thumbnail_Container{}

.serviceCenter_Thumbnail_Container{}

.footer_Logo{
	height: 153px;
	margin-right: 20px;
}

.footer_Container{
	display: inline-block;
	float: left;
}

.footer_Menu_Container{
	overflow: hidden;
    margin-bottom: 20px;
}

.footer_Company_Type, .footer_Copyright{overflow: hidden}

.footer_Menu_Container span, .footer_Menu_Container span a{display: inline-block;}
.footer_Menu_Container span, .footer_Menu_Container span::after{float: left;}
.footer_Menu_Container span a{color: #666;}
.footer_Menu_Container span:nth-of-type(1), .footer_Company_Type{font-weight: 800;}
.footer_Menu_Container span a:hover{color: #8c8c8c;}

.footer_Menu_Container span::after{
	height: 12px;
	background-color: #666;
}

.footer_Menu_Container span:nth-of-type(1)::after{margin: 0;width: 0;}

#mobile_Copyright,
#mobile_Address{ display: none; }



/*********************Footer*********************/

/*********************Privacy Policy & Terms of Use*********************/

.terms_Header{
	width: 800px;
	height: 110px;
	margin: 70px auto 0;
	background-color: #333;
	text-align: center;
}

.terms_Body{
	width: 800px;
    padding: 57px 0 70px;
    margin: 0 auto 70px;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-top: none;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.terms_Container{ padding: 0 160px; }

/*********************Privacy Policy & Terms of Use*********************/

/*********************media query*********************/

@media screen and (max-width: 1326px){
	#pagination-wrap ul li{
		width: 20%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-khtml-box-sizing: border-box;
	}
}

@media screen and (max-width: 1128px){
	.Product_Thumbnail_Container{
		width:50%;
		padding: 13px 16px;
		border-right: 1px solid #e7e8ea;
	}

	.Product_Thumbnail_Container:nth-of-type(2n){ border-right: 0; }

	.Product_Thumbnail_Container:nth-last-of-type(3){ border-bottom: 0; }
}
@media screen and (max-width: 960px){
	.header_Input_Container{ width: 40%; }
}

@media screen and (max-width: 894px){
	.footer_Logo{
		width: 100%;
		margin-right: 0;
	}
}

@media screen and (max-width: 799px){
	html{ overflow-x: hidden; }
	.header_Logo{
		position: absolute;
		left: 50%;
		margin-left: -100px;
		width: 200px;
		height: 52px;
		background: url(../img/Portfolio_Ver1/logo_bestShopMall_M.jpg) center center no-repeat;
		background-size: 200px auto;
	}

	.header_Input_Container, .header_Right_Menu_Container{ display: none; }

	.header_Left_Menu_Button{
		display: block;
		float: left;
		width: 52px;
		height: 52px;
		cursor: pointer;
	}

	.header_Left_Menu_Button_Sprite{
		display: block;
		width: 22px;
		height: 2px;
		margin: 11px 15px;
		background-color: #882175;
	}

	.header_Right_Login_Button{
		display: inline-block;
		float: right;
		cursor: pointer;
		background: url(../img/Portfolio_Ver1/icon_login.png) no-repeat center;
		width: 52px;
		height: 52px;
		background-size: 22px;
	}

	.header_Right_Search_Button{
		display: inline-block;
		float: right;
		cursor: pointer;
		background: url(../img/Portfolio_Ver1/icon_search.png) no-repeat center;
		width: 52px;
		height: 52px;
		background-size: 22px;
	}

	.category_Bar{
		position: fixed;
		left:0;
		top: 53px;
		z-index: 9;
		padding: 0 0;
		background-color: #fff;
		border-top: 0;
		border-bottom: 1px solid #c1bebe;
	}

	.category_Button{ display: none; }

	.category_Bar_Right_Container{ float: left; }

	.category_Bar_RightButton{
		font-size: 15px;
		color: #313131;
		white-space: nowrap;
		font-weight: bold;
		padding: 0 13px;
		line-height: 44px;
	}

	.category_Bar_RightButton:nth-of-type(1){ display: inline-block; }

	.category_Menu_Container{ display: none; }

	#wrapper{
		margin-top: 98px;
	}

	#wrapper,
	#slider-wrap ul#slider,
	#slider-wrap ul#slider li{ height: auto; }

	#wrapper,
	#slider-wrap,
	#slider-wrap ul#slider li{ position: static; }

	#slider-wrap ul#slider{
		z-index: 6;
		top: 98px;
	}

	.slider_Image{
		display: block;
		text-align: center;
		float: left;
		width: 100%;
	}

	.wrapper_Scale{
		display: inline-block;
		width: 100%;
		height: auto;
	}

	#pagination-wrap{ display: none; }

	#counter{
		display: block;
	    right: 0;
	    width: 56px;
	    background-color: rgba(0,0,0,0.5);
	    font-size: 17px;
	    line-height: 38px;
	    white-space: nowrap;
	    text-align: center;
	    position:absolute;
	    z-index: 8;
	}

	.notice_Thumbnail_Container,
	.qna_Thumbnail_Container,
	.serviceCenter_Thumbnail_Container{ display: none; }

	.footer_Logo, .footer_Container{ display: none; }

	#mobile_Address{
		display: block;
		margin-top: 5px;
		text-align: center;
	}

	#mobile_Address ul{
		display: inline-block;
		padding: 10px;
		font-size: 11px;
		letter-spacing: -0.06em;
		color: #666;
	}

	#mobile_Address ul li dl{
		position: relative;
		padding-left: 90px;
		text-align: left;
	}

	#mobile_Address ul li dl dt{
		position: absolute;
		left: 0;
		top: 0;
		max-width: 80px;
	}

	#mobile_Copyright{
		display: inline-block;
		width: 100%;
		color: #666;
		font-size: 12px;
		line-height: 1.5em;
		font-size: 13px;
		border-top: 1px solid #e5e5e5;
	    padding: 8px 0;
	    text-align: center;
	}

	.mobile_Footer_Actived::after,
	.mobile_Footer_Deactived::after{
		content: "";
		display: inline-block;
		width: 13px;
		height: 13px;
		margin: -1px 0 1px 5px;
		border: 1px solid #999;
		border-radius: 50%;
		vertical-align: middle;
	}

	.mobile_Footer_Actived::after{
		background: url(../img/Portfolio_Ver1/arrow_accordion_up.png) no-repeat center center;
		background-size: 60% auto;
	}

	.mobile_Footer_Deactived::after{
		background: url(../img/Portfolio_Ver1/arrow_accordion_down.png) no-repeat center center;
		background-size: 60% auto;
	}
}

@media screen and (max-width: 590px){

	.img_Badge_Container{
		top: 10px;
		left: 16px;
	}

	.img_Badge_Container span{
		display: inline-block;
		position: relative;
		width: 30px;
		height: 34px;
		padding-top: 9px;
		font-size: 14px;
		background-size: 30px auto;
	}

	.img_Badge_Container span:after{ display: none; }

	.Product_Thumbnail_Container img{
		width: 123px;
		margin: 0 auto;
	}

	.product_Thumbnail_Context_Container{ text-align: left; }

	.best_Item_Label{
		display: block;
		width: 100%;
		height: 13px;
		margin-top: 10px;
		background: url("../img/Portfolio_Ver1/tag_best.png") 0 0 no-repeat;
		background-size: 38px auto;
	}

	.product_Title{
		position: static;
		margin-top: 10px;
		font-size: 13px;
		font-weight: 600;
		line-height: 1.3rem;
	}

	.product_Title_Words{white-space: nowrap;}

	.product_ModelNo{
		margin-top: 20px;
		font-size: 11px;
		margin-bottom: 6px;
	}

	.product_price1{
		font-size: 11px;
		margin-bottom: 20px;
		font-weight: 500;
	}

	.product_price2{
		font-size: 14px;
		font-weight: normal;
	}

	.product_price1 strong, .product_price2 strong{
		font-weight: bold;
	}
}

@media screen and (max-width: 546px){
	.category_Bar_RightButton{
		font-size: 13px;
		padding: 0px 6px;
	}
}

@media screen and (max-width: 471px){
	.product_Title{
		letter-spacing: -0.3vw;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 411px){
	.header_Logo{
		margin-left: -40px;
		width: 80px;
		background: url(../img/Portfolio_Ver1/20190415040055_a1c2.jpg) center center no-repeat;
		background-size: 80px auto;
	}
}

@media screen and (max-width: 369px){ .product_price2{font-size: 11px;} }

@media screen and (max-width: 310px){ .product_price2{font-size: 9px;} }

@media screen and (max-width: 300px){
	.product_Title{ font-size: 0.9028vw; }

	.product_ModelNo{
		margin-top: 8%;
		font-size: 0.8333vw;
		margin-bottom: 0;
	}

	.product_price1{
		font-size: 0.8333vw;
		margin-bottom: 6%;
	}

	.product_price2{ font-size: 0.9722vw; }
}

/*********************media query*********************/