/*********************Header*********************/

.header_Logo, .footer_Logo{
	display: block;
	float: left;
	width:159px;
	background: url("../img/Portfolio_Ver1/20190415040055_a1c2.jpg") center center no-repeat;
}

.header_Input_Container{
	display: block;
	position: absolute;
	/*float: left;*/
	float: right;
	margin-top: 40px;
	right: 30%;
	/*margin-left: 33.4%;*/
    bottom: 41px;
    width: 430px;
    height: 46px;
    border: 2px solid #882175;
}

.header_Input_Container input{
	outline: 0;
	display: inline-block;
	width: 378px;
	height: 30px;
	padding: 0;
	border: 0;
	font-size: 14px;
	vertical-align: top;
	padding: 8px 42px 8px 10px;
}

.header_SearchButton{
	position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

.search_Icon{
	width: 20px;
    height: 17px;
    margin: 15px 15px;
    background: url(./../img/Portfolio_Ver1/str_ico01_bs.png) -103px -4px no-repeat;
}

.header_Right_Menu_Container{
	float: right;
	display: block;
	margin-top: 50px;
}

.header_Right_Menu_Container div{float: left;}

.header_Right_Menu_Container div::after,
.footer_Menu_Container span::after,
footer address span::after{
    content: '';
    margin: 4px 12px 0px 12px;
    width: 1px;
}

.header_Right_Menu_Container div::after{
	display: block;
	float: right;
	height: 13px;
	background-color: #666;
}

.header_Right_Menu_Container div:last-child::after{margin: 0;width: 0;}

.header_Right_Menu_Container div a{
	font-family: '나눔고딕', Arial, sans-serif;
	display: inline-block;
	font-size: 0.813em;
	letter-spacing: -0.05em;
	color: #666;
}

.header_Right_Menu_Container div a:hover{color: #898989;}

/*********************Header*********************/

/*********************Main Page*********************/

#lg_Best_Products{
	background-color: #f3eeee;
	padding: 80px 0;
}

#lg_Best_Products section{ background-color: #fff; }

.Product_Thumbnail_Container{
	display: block;
	position: relative;
	float: left;
	width:33.33333333333333%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-top: 1px solid #e7e8ea;
	padding: 30px 60px;
	text-align: center;
	cursor: pointer;
}

.Product_Thumbnail_Container:nth-last-of-type(3){ border-bottom: 1px solid #e7e8ea; }
/*
.Product_Thumbnail_Container:nth-of-type(2), .Product_Thumbnail_Container:nth-of-type(3n+2){width:33.33333333333333%;}
*/


.img_Badge_Container{
	position: absolute;
	top: 73px;
	left: 10px;
	z-index: 1;
}

.img_Badge_Container span{
	display: inline-block;
	position: relative;
	width: 48px;
	height: 55px;
	padding-top: 15px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background: url(./../img/Portfolio_Ver1/img_imgBadge_hexa_red.png) 50% 31% no-repeat;
}

.img_Badge_Container span:after{
	content: '';
	position: absolute;
	bottom: 25px;
	left: 16px;
	width: 16px;
	height: 1px;
	background-color: #fff;
}

.Product_Thumbnail_Container img{
	display: block;
	width: 100%;
	height: auto;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.product_Thumbnail_Context_Container{
	display: inline-block;
	position:relative;
	width: 100%;
	height: auto;
}

.best_Item_Label{ display: none; }

.product_Title, .product_ModelNo, .product_price1, .product_price2{
	display:inline-block;
	width: 100%;
	height: auto;
}

..product_ModelNo, .product_price1, .product_price2{ word-break: keep-all; white-space: nowrap; }

.product_Title{
	position: absolute;
	overflow: hidden;
	font-size: 22px;
	line-height: 26px;
}

.product_Title_Words{white-space: nowrap;}

.product_ModelNo{
	color: #666;
	margin-top: 60px;
	font-size: 14px;
	margin-bottom: 6px;
}

.product_price1{
	font-size: 12px;
	margin-bottom: 20px;
	font-weight: 500;
}

.product_price2{
	font-size: 22px;
	color: #e7058d;
}

.lg_Best_Title{
	display:block;
	width: 100%;
	height: 74px;
	background: url("../img/Portfolio_Ver1/img_title_best_dayBest.jpg") center center no-repeat;
	margin-bottom: 30px;
}

/*********************Main Page*********************/

/*********************Footer*********************/

.footer_Logo{
	height: 153px;
	margin-right: 20px;
}

.footer_Container{
	display: inline-block;
	float: left;
}

.footer_Menu_Container{
	overflow: hidden;
    margin-bottom: 20px;
}

.footer_Company_Type, .footer_Copyright{overflow: hidden}

.footer_Menu_Container span, .footer_Menu_Container span a{display: inline-block;}
.footer_Menu_Container span, .footer_Menu_Container span::after{float: left;}
.footer_Menu_Container span a{color: #666;}
.footer_Menu_Container span:nth-of-type(1), .footer_Company_Type{font-weight: 800;}
.footer_Menu_Container span a:hover{color: #8c8c8c;}

.footer_Menu_Container span::after,
footer address span::after{
	height: 12px;
	background-color: #666;
}

.footer_Menu_Container span:nth-of-type(1)::after,
footer address span:nth-of-type(1)::after,
footer address span:nth-of-type(3)::after,
footer address span:nth-of-type(6)::after{margin: 0;width: 0;}

/*********************Footer*********************/

/*********************media query*********************/

@media screen and (max-width: 1128px){
	.Product_Thumbnail_Container{
		width:50%;
		padding: 13px 16px;
		border-right: 1px solid #e7e8ea;
	}

	.Product_Thumbnail_Container:nth-of-type(2n){ border-right: 0; }

	.Product_Thumbnail_Container:nth-last-of-type(3){ border-bottom: 0; }
}

@media screen and (max-width: 590px){

	.img_Badge_Container{
		top: 10px;
		left: 16px;
	}

	.img_Badge_Container span{
		display: inline-block;
		position: relative;
		width: 30px;
		height: 34px;
		padding-top: 9px;
		font-size: 14px;
		background-size: 30px auto;
	}

	.img_Badge_Container span:after{ display: none; }

	.Product_Thumbnail_Container img{
		width: 123px;
		margin: 0 auto;
	}

	.product_Thumbnail_Context_Container{ text-align: left; }

	.best_Item_Label{
		display: block;
		width: 100%;
		height: 13px;
		margin-top: 10px;
		background: url("../img/Portfolio_Ver1/tag_best.png") 0 0 no-repeat;
		background-size: 38px auto;
	}

	.product_Title{
		position: static;
		margin-top: 10px;
		font-size: 13px;
		font-weight: 600;
		line-height: 1.3rem;
	}

	.product_Title_Words{white-space: nowrap;}

	.product_ModelNo{
		margin-top: 20px;
		font-size: 11px;
		margin-bottom: 6px;
	}

	.product_price1{
		font-size: 11px;
		margin-bottom: 20px;
		font-weight: 500;
	}

	.product_price2{
		font-size: 14px;
	}

	.product_price1 strong, .product_price2 strong{
		font-weight: 800;
	}
}

/*********************media query*********************/