<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>국립중앙박물관 특별전</title>
		<link rel="stylesheet" href="./../css/portfolio4_common.css">
		<link rel="stylesheet" href="./../css/portfolio4_layout.css">
		<script src="./../js/jquery-3.2.0.min.js"></script>
		<script src="./../js/portfolio4_index.js"></script>
		<!--[if lt IE 9]>
			<script src="../js/html5shiv.min.js"></script>
			<script src="../js/respond.min.js"></script>
	 	<![endif]-->
	</head>
	<body>
		<div class="logo"></div>
		<span class="logo_Context">SPECIAL&nbsp;EXHIBITION</span>
		<div class="menu_Container_Pc">
			<span>Menu</span>
			<div class="menu_Container_Pc_Obj1"></div>
			<div class="menu_Container_Pc_Obj2"></div>
		</div>
		<div class="etc_Menu_Container">
			<span class="menu_Share">Share</span>
			<span>&#124;</span>
			<span class="menu_Language">Language</span>
		</div>
		<section class="title_Section section_Active">
			<h1 class="float_l">우리<br>&nbsp;&nbsp;&nbsp;강산을&nbsp;그리다</h1>
			<h2>2019&#46;07&#46;23&nbsp;&#45;&nbsp;09&#46;22&#46;</h2>
			<div class="titleimagewrapper titleimagewrapper1">
				<img src="./../img/Portfolio_Ver2/1_obj1.jpg">
			</div>
			<div class="title_VerticalLine1"></div>
			<div class="titleimagewrapper titleimagewrapper2">
				<img src="./../img/Portfolio_Ver2/1_obj2.jpg">
			</div>
			<div class="title_VerticalLine2"></div>
			<span class="title_context1">화가의&nbsp;시선&#44;&nbsp;조선시대&nbsp;실경산수화</span>
			<div class="titleimagewrapper titleimagewrapper3">
				<img src="./../img/Portfolio_Ver2/1_obj3.jpg">
			</div>
			<div class="title_VerticalLine3"></div>
			<div class="titleimagewrapper titleimagewrapper4">
				<img src="./../img/Portfolio_Ver2/1_obj1.jpg">
			</div>
			<span class="title_context2 title_context2_1">국립중앙박물관&nbsp;특별전시실</span>
			<span class="title_context2 title_context2_2">Special&nbsp;Exhibition&nbsp;Gallery&#44;&nbsp;National&nbsp;Museum&nbsp;of&nbsp;Korea</span>
			<div class="lower_ScrollButton">
				<div class="lower_ScrollImage"></div>
				<span class="lower_ScrollContext">Scroll&nbsp;Down</span>
			</div>
		</section>
		<section id="context_Section1">
			<div class="summary_Container">
				<h3>전시 개요</h3>
				<span class="summary_Numbers">01&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">주최</span>
				<span class="summary_Context">국립중앙박물관</span>
				<span class="summary_Numbers">02&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">운영</span>
				<span class="summary_Context">국립박물관문화재단</span>
				<span class="summary_Numbers">03&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">전시기간</span>
				<span class="summary_Context">2019년&nbsp;7월&nbsp;23일&#40;화&#41;&nbsp;&#126;&nbsp;9월&nbsp;22일&#40;일&#41;</span>
				<span class="summary_Numbers">04&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">전시장소</span>
				<span class="summary_Context">국립중앙박물관&nbsp;상설전시관&nbsp;1층&nbsp;특별전시실</span>
				<span class="summary_Numbers">05&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">전시작품</span>
				<span class="summary_Context">정선의&#171;신묘년풍악도첩&#187;&#44;&nbsp;김응환의&#171;해악전도첩&#187;&#44; 김홍도의&#171;병진년화첩&#187;&nbsp;등&nbsp;360여&nbsp;점<br><span class="summary_Context_Subtext">&#42;&nbsp;대여기간&nbsp;종료로&nbsp;로스앤젤레스카운티미술관&nbsp;소장&nbsp;강세황의 &#60;부안유람도권&#62;&#44;<br>이한철의&nbsp;&#60;석파정도&#62;&nbsp;병풍은&nbsp;9월&nbsp;22일까지만&nbsp;전시합니다&#46;</span></span>
				<span class="summary_Numbers">06&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">전시문의</span>
				<span class="summary_Context">1688&nbsp;&#45;&nbsp;0361</span>
				<span class="summary_Numbers">07&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">관람시간</span>
				<span class="summary_Context">월•화•목•금&nbsp;10&#58;00&nbsp;&#126;&nbsp;18&#58;00<br>수•토&nbsp;10&#58;00&nbsp;&#126;&nbsp;21&#58;00<br>일•공휴일&nbsp;10&#58;00&nbsp;&#126;&nbsp;19&#58;00</span>
				<span class="summary_Numbers">08&#46;</span>
				<div class="summary_HorizontalLine"></div>
				<span class="summary_Object">오시는길</span>
				<span class="summary_Context">지하철&nbsp;4호선&#44;&nbsp;경의중앙선&nbsp;이촌역&nbsp;2번&nbsp;출구<br>버스&nbsp;400번&#44;&nbsp;502번&nbsp;국립중앙박물관&nbsp;하차</span>
			</div>
		</section>
		<section id="context_Section2">
			<h4>프롤로그&nbsp;&#58;&nbsp;<br>전시&nbsp;소개</h4>
			<p>
				화가가 그곳에 가서 자연을 직접 본 그 순간 실경산수화는 시작됩니다.<br>
				지금, 가벼운 발걸음으로 화가들과 함께 조선 산수여행을 떠나 볼까요?<br>
				<span>Through the eyes of Joseon painters : <br>
				Real Scenery landscape of Korea</span>
			</p>
			<div class="contextimagewrapper contextimagewrapper1">
				<img src="./../img/Portfolio_Ver2/3_obj1.jpg">
			</div>
			<div class="contextimagewrapper contextimagewrapper2">
				<img src="./../img/Portfolio_Ver2/3_obj2.jpg">
			</div>
		</section>
		<section id="context_Section3">
			<div class="contextimagewrapper3">
				<img src="./../img/Portfolio_Ver2/4_obj1.jpg">
			</div>
		</section>
	</body>
</html>