<!DOCTYPE html>
<html>

<!-- ***************** Document Head ***************** -->

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <title>LG Best Shop</title>
        <link rel="stylesheet" href="../css/portfolio1_common.css">
        <link rel="stylesheet" href="../css/portfolio1_layout.css">
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="../js/portfolio1_index.js"></script>
        <!--[if lt IE 9]>
            <script src="../js/html5shiv.min.js"></script>
            <script src="../js/respond.min.js"></script>
        <![endif]-->
    </head>

<!-- ***************** Document Body ***************** -->

    <body>

<!-- ***************** 헤더 ***************** -->

        <header>
        	<div class="header_Left_Menu_Button">
        		<div class="header_Left_Menu_Button_Sprite"></div>
        		<div class="header_Left_Menu_Button_Sprite"></div>
        		<div class="header_Left_Menu_Button_Sprite"></div>
        	</div>
            <div class="header_Logo"></div>
            <div class="header_Input_Container">
                <input type="text" class="Header_InputText" id="txHomeSearch" name="txHomeSearch">
                <div class="header_SearchButton"><div class="search_Icon"></div></div>
            </div>
            <div class="header_Right_Menu_Container">
                <div><a href="">회원가입</a></div>
                <div><a href="">로그인</a></div>
                <div><a href="">고객센터</a></div>
            </div>
            <div class="header_Right_Search_Button"></div>
            <div class="header_Right_Login_Button"></div>
        </header>
        <div class="category_Bar">
        	<div class="category_Button">
        		<div class="category_Button_Icon">
        			<div class="category_Button_Sprite"></div>
        			<div class="category_Button_Sprite"></div>
        			<div class="category_Button_Sprite"></div>
        		</div>
        		<span>카테고리</span>
        	</div>
        	<div class="category_Bar_Right_Container">
        		<a href="#" class="category_Bar_RightButton">Home</a>
        		<a href="" class="category_Bar_RightButton">프리미엄Zone</a>
        		<a href="" class="category_Bar_RightButton">동시구매혜택Zone</a>
        		<a href="" class="category_Bar_RightButton">건강관리Zone</a>
        		<a href="" class="category_Bar_RightButton">이벤트</a>
        	</div>
        </div>

<!-- ***************** 카테고리 UI ***************** -->

        <ul class="category_Menu_Container">
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">TV/AV</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">TV/AV</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">TV</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">올레드 TV</a></li>
        							<li class=""><a href="#">나노셀 TV</a></li>
        							<li class=""><a href="#">울트라 HD TV</a></li>
        							<li class=""><a href="#">일반 LED TV</a></li>
        							<li class=""><a href="#">소형 TV</a></li>
        							<li class=""><a href="#">LG Object TV</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">프로젝터</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">초단초점</a></li>
        							<li class=""><a href="#">투사형</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">AV</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">사운드바</a></li>
        							<li class=""><a href="#">무선 스피커</a></li>
        							<li class=""><a href="#">오디오/플레이어</a></li>
        							<li class=""><a href="#">LG Object 오디오</a></li>
        						</ul>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044548_e553.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044620_87af.jpg"></div>
        			</div>
        		</div>
        	</li>
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">PC</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">PC</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">노트북</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">그램</a></li>
        							<li class=""><a href="#">울트라 기어</a></li>
        							<li class=""><a href="#">울트라 PC</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">일체형 PC</a>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">데스크톱</a>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">모니터</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">울트라 와이드 모니터</a></li>
        							<li class=""><a href="#">울트라HD 모니터</a></li>
        							<li class=""><a href="#">울트라기어 게이밍 모니터</a></li>
        							<li class=""><a href="#">PC모니터</a></li>
        							<li class=""><a href="#">TV모니터</a></li>
        						</ul>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044729_4b1b.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044744_-234.jpg"></div>
        			</div>
        		</div>
        	</li>
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">주방가전</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">주방가전</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">냉장고</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">상냉방/하냉동</a></li>
        							<li class=""><a href="#">양문형</a></li>
        							<li class=""><a href="#">정수기형</a></li>
        							<li class=""><a href="#">와인셀러</a></li>
        							<li class=""><a href="#">일반형</a></li>
        							<li class=""><a href="#">LG Object 냉장고</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">김치냉장고</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">스탠드형</a></li>
        							<li class=""><a href="#">뚜껑식형</a></li>
        							<li class=""><a href="#">프리스타일</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">맥주 제조기</a>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">식기세척기</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">6인용(컴팩트)</a></li>
        							<li class=""><a href="#">12인용</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">광파오븐</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">정통형</a></li>
        							<li class=""><a href="#">슬림형</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">전자레인지</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">22L</a></li>
        							<li class=""><a href="#">23L</a></li>
        							<li class=""><a href="#">25L</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">전기레인지</a>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044859_-9c7.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044934_fa94.jpg"></div>
        			</div>
        		</div>
        	</li>
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">생활가전</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">생활가전</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">워시타워</a>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">세탁기</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">트윈워시</a></li>
        							<li class=""><a href="#">트롬</a></li>
        							<li class=""><a href="#">통돌이</a></li>
        							<li class=""><a href="#">미니세탁기</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">의류건조기</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">전기식</a></li>
        							<li class=""><a href="#">건조기 키트</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">스타일러</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">스타일러</a></li>
        							<li class=""><a href="#">스타일러 상의걸이</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">무선청소기</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">코드제로 A9</a></li>
        							<li class=""><a href="#">코드제로 R9</a></li>
        							<li class=""><a href="#">코드제로 T9</a></li>
        							<li class=""><a href="#">핸디스틱</a></li>
        							<li class=""><a href="#">로보킹</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">유선청소기</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">싸이킹</a></li>
        						</ul>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425045106_487-.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425045120_-4fe.jpg"></div>
        			</div>
        		</div>
        	</li>
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">에어컨/에어케어</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">에어컨/에어케어</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">에어컨</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">스탠드형</a></li>
        							<li class=""><a href="#">2in1</a></li>
        							<li class=""><a href="#">벽걸이형</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">공기청정기</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">공기청정기</a></li>
        							<li class=""><a href="#">LG Object 가습공기청정기</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">제습기</a>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">가습기</a>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425045207_f973.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425045225_bea7.jpg"></div>
        			</div>
        		</div>
        	</li>
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">모바일</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">모바일</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">스마트폰</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">LG Q51</a></li>
        							<li class=""><a href="#">LG VELVET</a></li>
        							<li class=""><a href="#">LG V50S ThinQ</a></li>
        							<li class=""><a href="#">LG V50 ThinQ</a></li>
        							<li class=""><a href="#">LG G8 ThinQ</a></li>
        							<li class=""><a href="#">LG X6</a></li>
        							<li class=""><a href="#">LG X2</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">태블릿</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">G Pad</a></li>
        						</ul>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20200316111245_-4d8.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20200316111443_3ba0.jpg"></div>
        			</div>
        		</div>
        	</li>
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">뷰티</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">뷰티</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">뷰티 디바이스</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">LED 마스크</a></li>
        							<li class=""><a href="#">LED 넥케어</a></li>
        							<li class=""><a href="#">탄력기기</a></li>
        							<li class=""><a href="#">흡수촉진기</a></li>
        							<li class=""><a href="#">클렌징 기기</a></li>
        							<li class=""><a href="#">브러시</a></li>
        						</ul>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425045515_347-.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425045540_cac5.jpg"></div>
        			</div>
        		</div>
        	</li>
        	<li class="main_Category_Depth1">
        		<a href="#" class="Depth1_Context">케어용품</a>
        		<div class="main_Category_Depth2">
        			<div class="main_Category_Depth2_List_Container">
        				<p class="category_Depth2_Title_Wrap">
        					<strong class="category_Depth2_Title">케어용품</strong>
        					<a href="" class="category_Depth2_Title_Button">바로가기</a>
        				</p>
        				<ul class="category_Depth2_List">
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">주방가전 악세서리</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">홈브루 캡슐</a></li>
        							<li class=""><a href="#">홈브루 보틀</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">생활가전 엑세서리</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">A9 물걸레키트</a></li>
        							<li class=""><a href="#">A9 일회용청소포</a></li>
        							<li class=""><a href="#">흡입구</a></li>
        							<li class=""><a href="#">스타일러 상의걸이</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">에어컨/에어케어 액세서리</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">360˚공기청정기 필터</a></li>
        							<li class=""><a href="#">360˚공기청정기 무빙휠</a></li>
        							<li class=""><a href="#">퓨리케어미니 필터</a></li>
        							<li class=""><a href="#">퓨리케어미니 거치대</a></li>
        						</ul>
        					</li>
        					<li class="category_Depth2_Context">
        						<a href="#" class="category_Depth3_Title">뷰티 디바이스 액세서리</a>
        						<ul class="category_Depth3_List">
        							<li class=""><a href="#">LG 프라엘 브러시</a></li>
        						</ul>
        					</li>
        				</ul>
        			</div>
        			<div class="main_Category_Depth2_RelBanner">
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044548_e553.jpg"></div>
        				<div class="RelBanner"><img src="./../img/Portfolio_Ver1/20190425044620_87af.jpg"></div>
        			</div>
        		</div>
        	</li>
        </ul>

<!-- ***************** Slide ***************** -->

<div id="wrapper">
	<div id="slider-wrap">
		<ul id="slider">
			<li>
				<div class="slider_Image">
					<img src="./../img/Portfolio_Ver1/20200529062831_da2b.jpg">
				</div>
			</li>

			<li>
				<div class="slider_Image">
					<img src="./../img/Portfolio_Ver1/20200429044858_5b48.jpg">
				</div>
			</li>

			<li>
				<div class="slider_Image">
					<img src="./../img/Portfolio_Ver1/20200529030426_-9d3.jpg">
				</div>
			</li>

			<li>
				<div class="slider_Image">
					<img src="./../img/Portfolio_Ver1/20200529030331_-b9d.jpg">
				</div>
			</li>

			<li>
				<div class="slider_Image">
					<img src="./../img/Portfolio_Ver1/20200602091851_c18-.jpg">
				</div>
			</li>


		</ul>

		<!--controls-->
		<div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
		<div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
		<div id="counter"></div>

		<div id="pagination-wrap">
		<ul id="specific_Pagination_Wrap">
		</ul>
		</div>
		<!--controls-->

	</div>

</div>

<!-- ***************** Best 상품 ***************** -->

        <article id="lg_Best_Products">
        	<div class="lg_Best_Title"></div>
            <section>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			1
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200608044812_2-e1_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
                		<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">휘센</span>
	                		<span class="product_Title_Words">제습기</span>
	                	</span>
	                	<span class="product_ModelNo">DQ200PGAA</span>
	                	<span class="product_price1"><strong>599,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>599,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			2
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200528043237_d985.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">노크온</span>
	                		<span class="product_Title_Words">매직스페이스</span>
	                	</span>
	                	<span class="product_ModelNo">F873MT75E</span>
	                	<span class="product_price1"><strong>4,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>4,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			3
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200526032958_689d_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
                		<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">휘센</span>
	                		<span class="product_Title_Words">듀얼</span>
	                		<span class="product_Title_Words">프리미엄</span>
	                		<span class="product_Title_Words">(매립배관형)</span>
	                	</span>
	                	<span class="product_ModelNo">FQ23DADWA1M</span>
	                	<span class="product_price1"><strong>2,910,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>2,910,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			4
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200522053409_3dcd.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">TROMM</span>
	                		<span class="product_Title_Words">워시타워</span>
	                	</span>
	                	<span class="product_ModelNo">W16GS</span>
	                	<span class="product_price1"><strong>5,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>5,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			5
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190719095912_0-4f.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">얼음정수기냉장고</span>
	                		<span class="product_Title_Words">(상냉장)</span>
	                	</span>
	                	<span class="product_ModelNo">J822MB35</span>
	                	<span class="product_price1"><strong>4,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>4,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			6
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200520032830_6ac.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">코드제로</span>
	                		<span class="product_Title_Words">A9S</span>
	                		<span class="product_Title_Words">ThinQ</span>
	                	</span>
	                	<span class="product_ModelNo">A9570IKCS</span>
	                	<span class="product_price1"><strong>1,180,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>1,180,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			7
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200103041925_6-9d.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">광파오븐</span>
	                	</span>
	                	<span class="product_ModelNo">ML32PW1</span>
	                	<span class="product_price1"><strong>779,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>779,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			8
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200131053320_c7-f_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">전자레인지</span>
	                	</span>
	                	<span class="product_ModelNo">MW23CS</span>
	                	<span class="product_price1"><strong>174,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>174,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			9
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200305052045_af02.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">휘센</span>
	                		<span class="product_Title_Words">크라운</span>
	                		<span class="product_Title_Words">스페셜</span>
	                	</span>
	                	<span class="product_ModelNo">FQ27SACCA2</span>
	                	<span class="product_price1"><strong>5,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>5,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			10
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190903054518_9a60_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">곡면</span>
	                		<span class="product_Title_Words">울트라와이드</span>
	                		<span class="product_Title_Words">모니터</span>
	                	</span>
	                	<span class="product_ModelNo">34WL85C</span>
	                	<span class="product_price1"><strong>849,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>849,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			11
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20191016051955_39a2.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">울트라와이드</span>
	                		<span class="product_Title_Words">모니터</span>
	                	</span>
	                	<span class="product_ModelNo">34WK95U</span>
	                	<span class="product_price1"><strong>1,590,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>1,590,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			12
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190704042136_c6-a.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">시네빔</span>
	                		<span class="product_Title_Words">Laser</span>
	                		<span class="product_Title_Words">4K</span>
	                	</span>
	                	<span class="product_ModelNo">HU85LA</span>
	                	<span class="product_price1"><strong>5,190,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>5,190,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			13
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190326033903_b-84.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">시네빔</span>
	                		<span class="product_Title_Words">(밝기 550)</span>
	                	</span>
	                	<span class="product_ModelNo">PH550</span>
	                	<span class="product_price1"><strong>499,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>499,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			14
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190326033905_45ac.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">와인셀러</span>
	                		<span class="product_Title_Words">(최대보관병수71병)</span>
	                	</span>
	                	<span class="product_ModelNo">W715B</span>
	                	<span class="product_price1"><strong>1,600,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>1,600,000</strong>원</span>
                	</div>
                </div>
            </section>
        </article>

<!-- ***************** 페이지 하단 ***************** -->

        <div class="main_Board_Bar">
        	<div class="notice_Thumbnail_Container"></div>
        	<div class="qna_Thumbnail_Container"></div>
        	<div class="serviceCenter_Thumbnail_Container"></div>
        </div>
        <footer>
            <div class="footer_Logo"></div>
            <div class="footer_Container">
                <div class="footer_Menu_Container">
                    <span><a href="">개인정보 처리방침</a></span>
                    <span><a href="">이용약관</a></span>
                </div>
                <span class="footer_Company_Type">통신판매업자</span>
                <address>
                    <span>서울특별시 영등포구 여의대로 128 LG트윈타워</span>
                    <span>대표이사 &#58; 권봉석&#44; 배두용</span><br>
                    <span>개인정보보호책임자 &#58; LG전자 정보보호담당</span>
                    <span>사업자등록번호 &#58; 107&#45;86&#45;14075</span>
                    <span>통신판매업신고 &#58; 제1997&#45;00084호</span><br>
                    <span>쇼핑몰이용문의 &#58; 1661 &#45; 2471</span>
                    <span>제품 및 AS 문의 &#58; 1544 &#45; 7777&#44; 1588 &#45; 7777</span>
                    <span>자급제폰 상담전용 &#58; 1661 &#45; 7945</span>
                </address>
                <span class="footer_Copyright">Copyright &#169; <span id="footer_Copyright_Year"></span> LG Electronics&#46; All Rights Reserved&#46;</span>
            </div>
        </footer>
    </body>
</html>