<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="블록체인과 IoT의 미래 2017">
    <meta name="Description" content="제4차 산업혁명 시대를 이끄는 기술, 블록체인과 IoT의 미래 2017">
   <meta name="viewport" id="viewport" content="width=device-width, height=device-height, initial-scale=0.72, minimum-scale=0.72, maximum-scale=1, user-scalable=no" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./../image/browser_icons/ms-icon-144x144.png">
    <meta name="msapplication-TileImage" content="./../image/browser_icons/ms-icon-70x70.png">
    <meta name="msapplication-TileImage" content="./../image/browser_icons/ms-icon-150x150.png">
    <meta name="msapplication-TileImage" content="./../image/browser_icons/ms-icon-310x310.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="./../image/browserconfig.xml" />

	<meta name="robots" content="index,follow">
	<link rel="canonical" href="http://conference.things9.com/index.html">
	<title>블록체인과 IoT의 미래 2017</title>
    <meta name="description" content="제4차 산업혁명 시대를 이끄는 기술, 블록체인과 IoT의 미래 2017 컨퍼런스 공식 사이트">
    <meta property="og:type" content="website">
	<meta property="og:title" content="블록체인과 IoT의 미래 2017">
	<meta property="og:description" content="제4차 산업혁명 시대를 이끄는 기술, 블록체인과 IoT의 미래 2017 컨퍼런스 공식 사이트">
	<meta property="og:image" content="http://conference.things9.com/image/Untitled-3.jpg">
	<meta property="og:url" content="http://conference.things9.com/index.html">

    <link rel="shortcut icon" type="image/x-icon" href="./../image/browser_icons/new-pabicon.ico?v=2">
    <link rel="apple-touch-icon" sizes="57x57" href="./../image/browser_icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./../image/browser_icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./../image/browser_icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./../image/browser_icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./../image/browser_icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./../image/browser_icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./../image/browser_icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./../image/browser_icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./../image/browser_icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./../image/browser_icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./../image/browser_icons/android-icon-96x96.png">
    <link rel="icon" type="image/png" sizes="72x72" href="./../image/browser_icons/android-icon-72x72.png">
    <link rel="icon" type="image/png" sizes="48x48" href="./../image/browser_icons/android-icon-48x48.png">
    <link rel="icon" type="image/png" sizes="36x36" href="./../image/browser_icons/android-icon-36x36.png">
    <link rel="icon" type="image/png" sizes="144x144" href="./../image/browser_icons/android-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./../image/browser_icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./../image/browser_icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./../image/browser_icons/favicon-16x16.png">

    <link rel="stylesheet" href="./../css/conference_common.css" type="text/css">
    <link rel="stylesheet" href="./../css/conference_layout.css" type="text/css">

    <link rel="manifest" href="./../image/manifest.json">

    <script type="text/javascript" src="./../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./../js/conference_index.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="./js/html5shiv.min.js"></script>
      <script type="text/javascript" src="./js/respond.min.js"></script>
    <![endif]-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	  ga('create', 'UA-103083227-1', 'auto');
  	  ga('send', 'pageview');
  </script>
  </head>
  <body class="bg_white">

  <div class="opacity_block">
    <div class="alert_modalPopup">
      <div class="alert_modalClose"></div>
    </div>
  </div>

    <header class="bg_blue">
        <div class="header_container">
            <nav class="bg_blue">
                <div class="navigation_container" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                    <div class="header_titleImage nav_headerImage"></div>
                    <ul>
                        <li>행사소개</li>
                        <li>프로그램</li>
                        <li>장소</li>
                        <li class="join_li"><a href="./Portfolio1_join.html">사전등록</a></li>
                    </ul>
                    <div class="menu_activeActionWrapper">
                        <div class="menu_activeActionBar bg_pink"></div>
                    </div>
                </div>
            </nav>
            <div class="header_titleImage"></div>
            <div class=" title_contextWrapper">
                <p>제4차 산업혁명 시대를 이끄는 기술&#44; 블록체인과 IoT의 미래 2017</p>
                <p>2017&#46;<span class="fnt_pink fnt_sizetitle1">08&#46;17</span>&#40;목&#41;</p>
                <p>14&#58;00&#126;16&#58;30</p>
            </div>
            <div class="title_submitWrapper">
              <a href="./Portfolio1_join.html">
                    <input class="intro_submitBtn2" type="image" src="./../image/submit_btn.png" alt="사전등록">
                </a>
            </div>
            <p class="title_footer">
                Sonofelice Convention&#44; 3F&#44; 22&#44; Teheran-ro 87-gil&#44; Gangnam-gu&#44; Seoul&#44; Republic of Korea<br>
                <span>http&#58;&#47;&#47;conference&#46;things9&#46;com</span>
            </p>

        </div>
    </header>
    <section>
      <article id="menu_1">
          <div class="article_titleWrapper"><div class=" article_titleWrapper article_titlePosition article_title1"></div></div>
          <h1>행사명</h1>
          <p class="paragraph_set1"><span>&#45; 제4차 산업혁명 시대를 이끄는 기술, 블록체인과 IoT의 미래 2017</span></p>
          <h1>행사소개</h1>
          <p class="fnt_bold paragraph_set1 intro_paragraphMargin1">&#91;블록체인과 IoT의 미래 2017&#93;은 Things9 주관으로 이뤄지는 컨퍼런스로&#44; 제 4차 산업혁명에 의해 변화하는 정치&#44; 경제&#44; 사회 패러다임을 분석하고 예측하여 미리 대응하기 위한 행사입니다&#46;</p>
          <p class="paragraph_set2 intro_paragraphMargin2">컨퍼런스를 통해 제4차 산업혁명이 가져다 줄 경제&#47;사회 전반의 변화를 살펴보고&#44; 그 중심에 있는 블록체인과 IoT에 대해 심도있는 강연이 이루어질 예정입니다&#46; 컨퍼런스를 통해 제공될 주요 내용은 아래와 같습니다&#46;</p>
          <p class="paragraph_set3">
              <span>&#45; 블록체인과 IoT를 통해 확보되는 정치적 투명성</span><br>
              <span>&#45; 제4차 산업혁명이 가져올 사회&#183;경제적 패러다임 변화</span><br>
              <span>&#45; 분산 네트워크를 위한 블록체인과 IoT에 대한 기술적 이해</span><br>
              <span>&#45; 블록체인과 IoT기술의 활용 사례</span><br>
          </p>
          <p class="paragraph_set2 intro_paragraphMargin3">다양한 직업군을 가진 참가자분들과 블록체인 및 IoT 기술 정보를 공유하세요&#46; &#91;블록체인과 IoT의 미래 2017&#93;은 수많은 참가자들이 서로 교류하며&#44; 더 나아가 기술 너머의 것을 얻을 수 있는 값진 행사가 되길 바랍니다&#46;</p>
          <h1>참가 비용 안내</h1>
          <p class="paragraph_set4 intro_paragraphMargin4">
              <span>&#45; 당일 현장등록 참가비 &#58; 10&#44;000원</span><br>
              <span>&#45; 학생 할인 &#58; &#40;50&#37;할인&#41; 5&#44;000원</span><br>
              <b class="set4_detail_explain">&#40;대학생&#47;대학원생 포함&#44; 당일 학생증 지참 필수&#41;</b><br>
              <span>&#45; 사전등록자 참가비 &#58; 무료</span><br>
              <span class="set4_detail_explain2">&#8251; 당일 현장등록 참가비는 유료이며&#44; 사전예약자는 무료입니다&#46;</span><br>
          </p>
      </article>
      <article id="menu_2">
          <div class="article_titleWrapper"><div class=" article_titleWrapper article_titlePosition article_title2"></div></div>
          <h1>상세 일정</h1>
          <table class="scheduleTable">
              <caption>블록체인과 IoT의 미래 2017 상세일정</caption>
              <tbody>
                  <tr>
                      <td>13:00~</td>
                      <td>등록 시작</td>
                  </tr>
                  <tr>
                      <td>14:00~</td>
                      <td>오프닝&#40;05&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>14:05~</td>
                      <td>기조연설&#40;05&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>14:10~</td>
                      <td>대학과 기업의 지속가능한 협력관계&#40;10&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>14:20~</td>
                      <td>블록체인과 IoT를 통해 확보되는 정치적 투명성&#40;20&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>14:40~</td>
                      <td>제4차 산업혁명이 가져올 사회&#183;경제적 패러다임 변화&#40;20&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>15:00~</td>
                      <td>휴식 및 부대행사 참여&#40;30&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>15:30~</td>
                      <td>블록체인에 대한 기술적 이해&#40;20&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>15:50~</td>
                      <td>네트워크 통신사업자의 분산 네트워크를 위한 블록체인 활용사례&#40;20&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>16:10~</td>
                      <td>블록체인을 통한 IoT 기술의 활용사례&#40;20&#39;&#41;</td>
                  </tr>
                  <tr>
                      <td>16:30~</td>
                      <td>경품추첨&#40;10&#39;&#41;</td>
                  </tr>
              </tbody>
          </table>
          <h1>연사 안내</h1>
          <p class="paragraph_set1 intro_paragraphMargin5"><span></span></p>
          <div class="presenter_wrapper">
              <div class="presenter_portrait0"></div>
              <div class="presenter_portraitDEFAULT"></div>
              <div class="presenter_contextWrapper">
                  <span>윤혜성 대표</span>
                  <p>&#40;전&#41; &#40;주&#41;YS모바일 대표</p>
                  <p>&#40;전&#41; &#40;주&#41;YS 컨설턴트 상임</p>
                  <p>기조연설</p>
                  <b>&nbsp;</b><br>
                  <b>&nbsp;</b>
              </div>
          </div>

          <div class="presenter_wrapper">
              <div class="presenter_portrait1"></div>
              <div class="presenter_portraitDEFAULT"></div>
              <div class="presenter_contextWrapper">
                  <span>임양미 교수</span>
                  <p>&#40;현&#41; 덕성여대 디지털미디어학과 교수</p>
                  <p>&#40;현&#41; 문화체육관광부 기술책임자 &#40;문화예술PD&#41;</p>
                  <p>&#40;전&#41; 동국대학교 CT 연구소 전임연구원</p>
                  <p>&#40;전&#41; 과학기술정책연구소 연구원</p>
                  <p>주제 &#58;  대학과 기업의 지속가능한 협력관계</p>
              </div>
          </div>

          <div class="presenter_wrapper">
              <div class="presenter_portrait2"></div>
              <div class="presenter_portraitDEFAULT"></div>
              <div class="presenter_contextWrapper">
                  <span>강석열 교수</span>
                  <p>&#40;현&#41; 고려대학교 초빙교수</p>
                  <p>&#40;전&#41; 국가보안기술연구소 소장</p>
                  <p>&#40;전&#41; 한국전자통신연구원 연구소장</p>
                  <p>주제 &#58; 블록체인과 IoT를 통해 확보되는 정치적 투명성</p>
              </div>
          </div>

          <div class="presenter_wrapper">
              <div class="presenter_portrait3"></div>
              <div class="presenter_portraitDEFAULT"></div>
              <div class="presenter_contextWrapper">
                  <span>조명호 이사장</span>
                  <p>&#40;현&#41; 세디경영연구소 이사장</p>
                  <p>&#40;전&#41; 한국사회적기업학회 부회장</p>
                  <p>&#40;전&#41; 기업 경영학회 부회장</p>
                  <p>&#40;전&#41; 경우회 행정경영 연구원 원장</p>
                  <p>주제 &#58; 제4차 산업혁명이 가져올 사회&#183;경제적 패러다임 변화</p>
              </div>
          </div>

          <div class="presenter_wrapper">
              <div class="presenter_portrait4"></div>
              <div class="presenter_portraitDEFAULT"></div>
              <div class="presenter_contextWrapper">
                  <span>신상호 매니저</span>
                  <p>&#40;현&#41; SK Telecom 종합기술원 Manager</p>
                  <p>&#40;전&#41; 삼성전자 &#40;DMC연구소&#47;소프트웨어센터&#41; 수석연구원</p>
                  <p>Ph.D, Computer Science. Columbia University&#40;Henning Schulzrinne&#41;</p>
                  <p>주제 &#58; 네트워크 통신사업자의 분산 네트워크를 위한 블록체인 활용사례</p>
              </div>
          </div>

          <div class="presenter_wrapper">
              <div class="presenter_portrait5"></div>
              <div class="presenter_portraitDEFAULT"></div>
              <div class="presenter_contextWrapper">
                  <span>임종범 대표</span>
                  <p>&#40;현&#41; &#40;주&#41;팅스나인 대표</p>
                  <p>고려대학교 경영대학원 Global MBA</p>
                  <p>주제 &#58; 블록체인에 대한 기술적 이해 및 블록체인을 통한 IoT기술의 활용사례</p>
                  <b>&nbsp;</b><br>
                  <b>&nbsp;</b>
              </div>
          </div>

          <div class="presenter_wrapper">
              <div class="presenter_portrait6"></div>
              <div class="presenter_portraitDEFAULT"></div>
              <div class="presenter_contextWrapper">
                  <span>사회자 한상균</span>
                  <p>&#40;현&#41; &#40;주&#41;로보위즈 대표</p>
                  <p>&nbsp;</p>

              </div>
          </div>
      </article>
      <article id="menu_3">
          <div class="article_titleWrapper"><div class=" article_titleWrapper article_titlePosition article_title3"></div></div>
          <h1>행사 장소</h1>
          <p class="paragraph_set5 intro_paragraphMargin6">
              <span class="fnt_bold">&#45; 소노펠리체 컨벤션&#44; 그랜드볼룸</span><br>
              <span>&#45; 서울특별시 강남구 테헤란로87길 22 도심공항터미널</span><br>
              <span><a href="http://www.sonofeliceconvention.com/" target="_blank" class="sonofeliceconvention_locate">&#45; http&#58;&#47;&#47;www&#46;sonofeliceconvention&#46;com&#47;</a></span>
          </p>
          <img class="locationMap" alt="블록체인과 IoT의 미래 컨퍼런스 약도" src="./../image/locationMap.jpg" width="665" height="410">
          <p class="paragraph_set6 intro_paragraphMargin7">
              <span>&#8251; 스타필드 코엑스몰을 통해 찾아오시는 경우 &#91;도심공항&#93; 이정표를 따라 찾아오시면 수월합니다&#46;</span>
          </p>
          <h1 class="transportation_h1"><div class="bg_car"></div>자가용</h1>
          <p class="paragraph_set7 intro_paragraphMargin8">자가용 이용 고객께서는 한국도심공항 터미널 주차장을 이용하실 수 있습니다&#46;</p>
          <h1 class="transportation_h1"><div class="bg_subway"></div>지하철</h1>
          <p class="paragraph_set8 intro_paragraphMargin8">
              <span class="fnt_bold subway_titlePadding"><span class="fnt_green">2호선 삼성역</span> 5번 출구</span><br>
              5번 출구에서 약 250m &#x2192; 현대백화점&#40;무역센터점&#41; 코너에서 우측 방향 약 150m 지점 도심공항터미널 3층에 위치&#40;약 7분&#41;
          </p>
          <div class="intro_barWrapper horizonalBarMargin1">
              <div class="intro_horizonalBar"></div>
          </div>
          <p class="paragraph_set8 intro_paragraphMargin8">
              <span class="fnt_bold"><span class="fnt_brown">9호선 봉은사역</span> 7번 출구 &#40;도보10분&#41;</span>
          </p>
          <h1 class="transportation_h1"><div class="bg_bus"></div>버스</h1>
          <p class="paragraph_set8 intro_paragraphMargin8">
              <span class="h_busRoot fnt_bold">한국무역센터삼성역 정류장&#40;정류장 코드 23&#45;201&#41;</span><br>
              하차 후 현대백화점&#40;무역센터점&#41; 방면 약 200m 직진<br>
              <span class="set8_detail_explain2">&#x2192; 우측방향 약 150m 지점 도심공항터미널 3층에 위치&#40;약 6분&#41;</span>
          </p>
          <div class="bus_routeTableWrapper intro_paragraphMargin9">
              <table class="bus_routeWrapper">
                  <caption>한국무역센터삼성역 정류장 노선정보</caption>
                  <tbody>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type1">간선</span>
                          </td>
                          <td>
                            146번&#44; 333번&#44; 341번&#44; 360번&#44; 740번
                          </td>
                      </tr>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type2">순환</span>
                          </td>
                          <td>
                            41번
                          </td>
                      </tr>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type3">지선</span>
                          </td>
                          <td>
                            3411번&#44; 4434번
                          </td>
                      </tr>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type4">급행</span>
                          </td>
                          <td>
                            8001번
                          </td>
                      </tr>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type5">마을</span>
                          </td>
                          <td>
                            강남07번&#44; 강남08번
                          </td>
                      </tr>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type6">직행</span>
                          </td>
                          <td>
                            1100번&#44; 1700번&#44; 2000번&#44; 2000-1번&#44; 7007번&#44; 9414번
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="intro_barWrapper horizonalBarMargin2">
              <div class="intro_horizonalBar"></div>
          </div>
          <p class="paragraph_set8 intro_paragraphMargin8">
              <span class="h_busRoot fnt_bold">삼성역 정류장&#40;정류장 코드 23&#45;804&#41;</span><br>
              하차 후 현대백화점&#40;무역센터점&#41; 방면 약 150m 직진<br>
               <span class="set8_detail_explain2">&#x2192; 우측 방향 약 150m 지점 도심공항터미널 3층에 위치</span>
          </p>
           <div class="bus_routeTableWrapper intro_paragraphMargin11">
              <table class="bus_routeWrapper">
                  <caption>삼성역 정류장 노선정보</caption>
                  <tbody>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type7">직행</span>
                          </td>
                          <td>
                            6000번&#44; 6704번
                          </td>
                      </tr>
                  </tbody>
              </table>
           </div>
          <div class="intro_barWrapper horizonalBarMargin3">
              <div class="intro_horizonalBar"></div>
          </div>
          <p class="paragraph_set8 intro_paragraphMargin8">
              <span class="h_busRoot fnt_bold">도심 공항터미널</span><br>
              하차 후 도심공항터미널 3층에 위치
          </p>
          <div class="bus_routeTableWrapper intro_paragraphMargin12 intro_paragraphMargin10">
              <table class="bus_routeWrapper">
                  <caption>도심 공항터미널 노선정보</caption>
                  <tbody>
                      <tr>
                          <td>
                            <span class="bus_routeType route_type7">직행</span>
                          </td>
                          <td>
                            6103번
                          </td>
                      </tr>
                  </tbody>
              </table>
           </div>
      </article>
      <article id="menu_4">
          <div class="article_titleWrapper"><div class=" article_titleWrapper article_titlePosition article_title4"></div></div>
          <h1>참가를 권하는 이유</h1>
          <p class="paragraph_set10">&#91;블록체인과 IoT의 미래 2017&#93; 컨퍼런스에 참여하여 얻을 수 있는 이점은 아래와 같습니다&#46;</p>
          <p class="paragraph_set9">
              <span>&#45; 제4차 산업혁명이 가져올 미래를 남보다 먼저 준비하여 대응 가능</span><br>
              <span>&#45; 정치&#183;사회&#183;경제 전반에 IT기술을 접목할만한 아이디어 획득 및 사업 확대의 발판 마련</span><br>
              <span>&#45; 난이하게 생각했던 블록체인과 IoT에 대한 기술적 개념 이해 수립</span><br>
              <span>&#45; 흥미로운 분산네트워크 사례 및 솔루션에 관한 강연 청취</span><br>
              <span>&#45; 현재의 블록체인과 IoT업계의 현황 및 미래가치 파악</span><br>
              <span>&#45; 미래를 준비하는 다양한 분야의 참가자들과의 정보 교류</span><br>
          </p>
          <p class="paragraph_set10 intro_paragraphMargin13">이외에도 제4차 산업혁명의 미래를 준비하는 이 컨퍼런스를 권유하는 이유는 많습니다&#46; 컨퍼런스에 참가하여 소중한 정보와 경험을 얻어 가십시오&#46;</p>
          <h1>사전등록 안내</h1>
          <p class="paragraph_set1">
              <span>&#45; 당일 현장등록 참가비는 유료이며, <b class="fnt_bold fnt_pink">사전등록자</b>는 <b class="fnt_bold fnt_pink">무료</b>입니다&#46;</span><br>
              <span>&#45; <b class="fnt_bold fnt_pink">사전등록 마감일시</b>는 <b class="fnt_bold fnt_pink">2017년 8월 7일 23시 59분</b>입니다&#46;</span><br>
              <span>&#45; 사전등록 마감일시가 지난 이후에는 당일 현장등록만 가능합니다&#46;</span><br>
              <span>&#45; 사전등록은 <b class="fnt_bold fnt_pink">선착순</b>으로 <b class="fnt_bold fnt_pink">조기마감</b> 될 수 있습니다&#46;</span><br>
              <span>&#45; &#91;사전등록&#93;버튼을 누르고 정보를 입력하세요&#46;</span><br>
              <span>&#45; 사전등록자는 행사당일 등록데스크로 오셔서 이름과 전화번호를 말씀해주시면 입장권을 발급해 드립니다&#46;</span><br>
          </p>
          <div class="intro_submitWrapper">
              <a href="./Portfolio1_join.html;">
                  <input class="intro_submitBtn" type="image" src="./../image/submit_btn.png" alt="사전등록">
              </a>
          </div>

      </article>
      <article id="menu_5">
          <div class="article_titleWrapper"><div class=" article_titleWrapper article_titlePosition article_title5"></div></div>
          <h1>스폰서 &#38; 파트너</h1>
          <div class="sponsor_wrapper">
            <img class="sponsor1" alt="Sono Felice" src="./../image/sponser1.png" width="253" height="84">
            <img class="sponsor2" alt="Hotel LACKY" src="./../image/sponser_lacky.png" width="253" height="84">
            <img class="sponsor3" alt="LPG Bank" src="./../image/sponser_lpg_bank.png" width="253" height="84">
            <img class="sponsor4" alt="KGS" src="./../image/sponser_kitagawa.png" width="253" height="84">
            <img class="sponsor5" alt="ROBOwiz" src="./../image/sponser_robowiz.png" width="253" height="84">
            <img class="sponsor6" alt="World V tech" src="./../image/sponser_vtech.png" width="253" height="84">


          </div>
      </article>
    </section>
    <footer class="bg_blue">
        <div class="footer_container">
            <img class="Things_nineLogo" alt="Things nine logo" src="./../image/foot_logo.png" width="151" height="42">
            <div class="context">
                <p>
                Tel &#58; 02&#45;587&#45;0085 &#124; <span>Email &#58; official&#46;things9&#64;gmail&#46;com</span><br>
                Address &#58; 서울특별시 강남구 강남대로 476 Urbanhive 13층 &#40;주&#41;팅스나인<br>
                &#169; 2017&#46; Things9 &#124; All rights reserved&#46;<br>
               </p>
               <p>
               Tel &#58; 02&#45;587&#45;0085<br>
                <span>Email &#58; official&#46;things9&#64;gmail&#46;com</span><br>
                Address &#58; 서울특별시 강남구 강남대로 476 Urbanhive 13층 &#40;주&#41;팅스나인<br>
                &#169; 2017&#46; Things9 &#124; All rights reserved&#46;<br>
               </p>
            </div>
        </div>
    </footer>
  </body>
</html>