<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>양천도서관</title>
	<link rel="stylesheet" href="../css/portfolio2_common.css">
	<link rel="stylesheet" href="../css/portfolio2_layout.css">
	<link rel="stylesheet" href="../css/jquery.bxslider.min.css">
	<script src="../js/jquery-3.2.0.min.js"></script>
	<script src="../js/portfolio2_index.js"></script>
	<script src="../js/jquery.bxslider.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../js/html5shiv.min.js"></script>
		<script src="../js/respond.min.js"></script>
 	<![endif]-->
</head>
<body>
	<header>
		<div class="btn-overview_S"></div>
		<div class="header_logo"><a href="#"></a></div>
		<div class="searchBoxHeader">
			<div class="SearchHeaderWrapper">
				<input class="search_formHeader" placeholder="Search keyword">
				<button title="상세검색"></button>
				<button title="다국어입력"></button>
			</div>			
			<button class="searchButtonHeader">검색</button>
		</div>
		<ul class="float_r">
			<li><a href="#"><span>English</span></a></li>
			<li><a href="#"><span>Log In</span></a></li>
			<li><a href="#"><span>즐겨찾기</span></a></li>
			<li><a href="#"><span>알림</span></a></li>
		</ul>
	</header>
	<section>
		<aside>
			<div class="searchBox">
				<input class="search_form" placeholder="Search keyword">
				<button title="상세검색"></button>
				<button title="다국어입력"></button>
				<button>검색</button>
			</div>
		</aside>
		<nav>
			<ul>
				<li><span>자료신청·예약</span></li>
				<li><span>자료검색</span></li>
				<li><span>독서마당</span></li>
				<li><span>평생학습/문화마당</span></li>
				<li><span>참여마당</span></li>
				<li><span>도서관안내</span></li>
				<li class="btn-overview"><span>전체보기</span></li>
			</ul>
		</nav>
		<article>
			<div class="intro_hours float_l">
				<div class="intro_containerHeader"><span class="intro_title">이용시간(하절기)</span><a class="intro_more"></a></div>
				<div class="hours_container">
					<ul>
						<li class="hours01"><strong>꿈동산실</br>정보마당실</strong></li>
						<li>
							<p><span>평일</span></p>
							<p><span>토/일</span></p>
						</li>
						<li>
							<p><em>09:00-18:00</em></p>
							<p><em>09:00-17:00</em></p>
						</li>
					</ul>
					<ul>
						<li class="hours02"><strong>열린학습실</strong></li>
						<li>
							<p><span>평일</span></p>
							<p><span>토/일</span></p>
						</li>
						<li>
							<p><em>07:00-23:00</em></p>
							<p><em>07:00-22:00</em></p>
						</li>
					</ul>
					<ul>
						<li class="hours03"><strong>책누리실</strong></li>
						<li>
							<p><span>평일</span></p>
							<p><span>토/일</span></p>
						</li>
						<li>
							<p><em>09:00-22:00</em></p>
							<p><em>09:00-17:00</em></p>
						</li>
					</ul>
				</div>
			</div>
			<div class="intro_notice float_l">
				<div class="intro_containerHeader"><span class="intro_title">공지사항</span><a class="intro_more"></a></div>
				<ul>
					<li>
						<a>&#91;전시&#93; 정화실 5월전 &#60;물&#62;</a>
						<em>2017&#46;05&#46;19</em>
					</li>
					<li>
						<a>마일즈 장비 활용 전투 훈련 안내</a>
						<em>2017&#46;05&#46;19</em>
					</li>
					<li>
						<a>&#91;한 도서관 한 책 읽기&#93;&#39;한 책 더하기 영화&#39; 참가자 모집</a>
						<em>2017&#46;05&#46;18</em>
					</li>
					<li>
						<a>&#91;접수&#93; 현대시 해설</a>
						<em>2017&#46;05&#46;16</em>
					</li>
					<li>
						<a>&#91;접수&#93; 공리주의 고전 읽기</a>
						<em>2017&#46;05&#46;15</em>
					</li>
				</ul>
			</div>
			<div class="intro_slider float_l">
				<ul id="slider2">
					<li><img src="../img/Portfolio2/20160304145705163868504.jpg" /></li>
					<li><img src="../img/Portfolio2/20170308148893702998604.jpg" /></li>
					<li><img src="../img/Portfolio2/20170418149247883968004.jpg" /></li>
				</ul>
			</div>
			<div class="library_quick">
				<ul>
					<li><a class="library_quick01"><span>대출조회&#47;연기</span></a></li>
					<li><a class="library_quick02"><span>대출예약조회</span></a></li>
					<li><a class="library_quick03"><span>희망도서신청</span></a></li>
					<li><a class="library_quick04"><span>야간대출예약</span></a></li>
					<li><a class="library_quick05"><span>정보마당실</span></a></li>
					<li><a class="library_quick06"><span>열람좌석현황</span></a></li>
				</ul>
			</div>
		</article>
	</section>
	<footer>
		<div class="footer_wrapper">
			<div class="footer_siteInfo">
				<ul>
					<li><a>정보공개알림</a></li>
					<li><a>개인정보처리방침</a></li>
					<li><a>이용서비스헌장</a></li>
					<li><a>이용규정</a></li>
					<li><a>이메일무단수집거부</a></li>
					<li><a>전화번호안내</a></li>
					<li><a>사이트맵</a></li>
					<li><a>오시는길</a></li>
				</ul>
				<p class="footerText_L">
					&#40;우&#41;07988 서울특별시 양천구 목동 서로 113	&#124; 대표전화 &#58; 02&#45;2062&#45;3900 &#124; 팩스번호 &#58; 02&#45;2062&#45;3919
				</p>
				<p class="footerText_S">
					Copyright 2017 양천도서관. All right reserved.
				</p>
			</div>

		</div>
	</footer>
</body>
<script>
	$(document).ready(function(){
		/*bx slider 2*/
		$('#slider2').bxSlider({
			auto: true
		});
	});
</script>
<style>
	.bx-controls-direction {display: none;}
	.bx-wrapper .bx-pager{
		text-align: right;
		margin-left: -10px;
		bottom: auto;
		top: -20px;
	}

	.bx-wrapper .bx-pager.bx-default-pager a{
		width: 14px;
		height: 14px;
		border-radius: 30px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		background-color: #fff;
		border: 2px solid #ffab30;
	}

	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
		background-color: #ffab30;
		border: none;
	}

</style>
</html>