<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <title>LG Best Shop</title>
        <link rel="stylesheet" href="../css/portfolio1_common.css">
        <link rel="stylesheet" href="../css/portfolio1_layout.css">
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="../js/portfolio1_index.js"></script>
        <!--[if lt IE 9]>
            <script src="../js/html5shiv.min.js"></script>
            <script src="../js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
        	<div class="header_Left_Menu_Button">
        		<div class="header_Left_Menu_Button_Sprite"></div>
        		<div class="header_Left_Menu_Button_Sprite"></div>
        		<div class="header_Left_Menu_Button_Sprite"></div>
        	</div>
            <div class="header_Logo"></div>
            <div class="header_Input_Container">
                <input type="text" class="Header_InputText" id="txHomeSearch" name="txHomeSearch">
                <div class="header_SearchButton"><div class="search_Icon"></div></div>
            </div>
            <div class="header_Right_Menu_Container">
                <div><a href="">회원가입</a></div>
                <div><a href="">로그인</a></div>
                <div><a href="">고객센터</a></div>
            </div>
            <div class="header_Right_Search_Button"></div>
            <div class="header_Right_Login_Button"></div>
        </header>
        <div class="category_Bar">
        	<div class="category_Button">
        		<div class="category_Button_Icon">
        			<div class="category_Button_Sprite"></div>
        			<div class="category_Button_Sprite"></div>
        			<div class="category_Button_Sprite"></div>
        		</div>
        		<span>카테고리</span>
        	</div>
        	<a href="" class="category_Bar_RightButton">이벤트</a>
        	<a href="" class="category_Bar_RightButton">건강관리Zone</a>
        	<a href="" class="category_Bar_RightButton">동시구매혜택Zone</a>
        	<a href="" class="category_Bar_RightButton">프리미엄Zone</a>
        </div>
        <article id="lg_Best_Products">
        	<div class="lg_Best_Title"></div>
            <section>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			1
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200608044812_2-e1_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
                		<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">휘센</span>
	                		<span class="product_Title_Words">제습기</span>
	                	</span>
	                	<span class="product_ModelNo">DQ200PGAA</span>
	                	<span class="product_price1"><strong>599,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>599,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			2
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200528043237_d985.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">노크온</span>
	                		<span class="product_Title_Words">매직스페이스</span>
	                	</span>
	                	<span class="product_ModelNo">F873MT75E</span>
	                	<span class="product_price1"><strong>4,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>4,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			3
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200526032958_689d_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
                		<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">휘센</span>
	                		<span class="product_Title_Words">듀얼</span>
	                		<span class="product_Title_Words">프리미엄</span>
	                		<span class="product_Title_Words">(매립배관형)</span>
	                	</span>
	                	<span class="product_ModelNo">FQ23DADWA1M</span>
	                	<span class="product_price1"><strong>2,910,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>2,910,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			4
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200522053409_3dcd.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">TROMM</span>
	                		<span class="product_Title_Words">워시타워</span>
	                	</span>
	                	<span class="product_ModelNo">W16GS</span>
	                	<span class="product_price1"><strong>5,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>5,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			5
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190719095912_0-4f.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">얼음정수기냉장고</span>
	                		<span class="product_Title_Words">(상냉장)</span>
	                	</span>
	                	<span class="product_ModelNo">J822MB35</span>
	                	<span class="product_price1"><strong>4,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>4,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			6
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200520032830_6ac.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">코드제로</span>
	                		<span class="product_Title_Words">A9S</span>
	                		<span class="product_Title_Words">ThinQ</span>
	                	</span>
	                	<span class="product_ModelNo">A9570IKCS</span>
	                	<span class="product_price1"><strong>1,180,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>1,180,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			7
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200103041925_6-9d.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">광파오븐</span>
	                	</span>
	                	<span class="product_ModelNo">ML32PW1</span>
	                	<span class="product_price1"><strong>779,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>779,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			8
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200131053320_c7-f_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">전자레인지</span>
	                	</span>
	                	<span class="product_ModelNo">MW23CS</span>
	                	<span class="product_price1"><strong>174,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>174,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			9
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20200305052045_af02.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">휘센</span>
	                		<span class="product_Title_Words">크라운</span>
	                		<span class="product_Title_Words">스페셜</span>
	                	</span>
	                	<span class="product_ModelNo">FQ27SACCA2</span>
	                	<span class="product_price1"><strong>5,000,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>5,000,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			10
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190903054518_9a60_M.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">곡면</span>
	                		<span class="product_Title_Words">울트라와이드</span>
	                		<span class="product_Title_Words">모니터</span>
	                	</span>
	                	<span class="product_ModelNo">34WL85C</span>
	                	<span class="product_price1"><strong>849,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>849,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			11
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20191016051955_39a2.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">울트라와이드</span>
	                		<span class="product_Title_Words">모니터</span>
	                	</span>
	                	<span class="product_ModelNo">34WK95U</span>
	                	<span class="product_price1"><strong>1,590,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>1,590,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			12
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190704042136_c6-a.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">시네빔</span>
	                		<span class="product_Title_Words">Laser</span>
	                		<span class="product_Title_Words">4K</span>
	                	</span>
	                	<span class="product_ModelNo">HU85LA</span>
	                	<span class="product_price1"><strong>5,190,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>5,190,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			13
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190326033903_b-84.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">시네빔</span>
	                		<span class="product_Title_Words">(밝기 550)</span>
	                	</span>
	                	<span class="product_ModelNo">PH550</span>
	                	<span class="product_price1"><strong>499,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>499,000</strong>원</span>
                	</div>
                </div>
                <div class="Product_Thumbnail_Container">
                	<div class="img_Badge_Container">
                		<span class="">
                			14
                		</span>
                	</div>
                	<img src="./../img/Portfolio_Ver1/20190326033905_45ac.jpg">
                	<div class="product_Thumbnail_Context_Container">
                		<div class="best_Item_Label"></div>
	                	<span class="product_Title">
	                		<span class="product_Title_Words">LG</span>
	                		<span class="product_Title_Words">DIOS</span>
	                		<span class="product_Title_Words">와인셀러</span>
	                		<span class="product_Title_Words">(최대보관병수71병)</span>
	                	</span>
	                	<span class="product_ModelNo">W715B</span>
	                	<span class="product_price1"><strong>1,600,000</strong>원</span>
	                	<span class="product_price2">최종혜택가 <strong>1,600,000</strong>원</span>
                	</div>
                </div>
            </section>
        </article>
        <footer>
            <div class="footer_Logo"></div>
            <div class="footer_Container">
                <div class="footer_Menu_Container">
                    <span><a href="">개인정보 처리방침</a></span>
                    <span><a href="">이용약관</a></span>
                </div>
                <span class="footer_Company_Type">통신판매업자</span>
                <address>
                    <span>서울특별시 영등포구 여의대로 128 LG트윈타워</span>
                    <span>대표이사 &#58; 권봉석&#44; 배두용</span><br>
                    <span>개인정보보호책임자 &#58; LG전자 정보보호담당</span>
                    <span>사업자등록번호 &#58; 107&#45;86&#45;14075</span>
                    <span>통신판매업신고 &#58; 제1997&#45;00084호</span><br>
                    <span>쇼핑몰이용문의 &#58; 1661 &#45; 2471</span>
                    <span>제품 및 AS 문의 &#58; 1544 &#45; 7777&#44; 1588 &#45; 7777</span>
                    <span>자급제폰 상담전용 &#58; 1661 &#45; 7945</span>
                </address>
                <span class="footer_Copyright">Copyright &#169; <span id="footer_Copyright_Year"></span> LG Electronics&#46; All Rights Reserved&#46;</span>
            </div>
        </footer>
    </body>
</html>